.fixedValGroup__label {
    font-weight: 800;
    color: var(--Dark-grayish-cyan)
}

.fixedValGroup__inputs {  
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    grid-auto-flow: row;
}